
CREATE DATABASE [FIAPSecretaria];
GO

USE [FIAPSecretaria];
GO
/****** Object:  Table [dbo].[Alunos]    Script Date: 01/09/2025 12:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alunos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[DataNascimento] [date] NOT NULL,
	[CPF] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Senha] [nvarchar](255) NOT NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[DataAlteracao] [datetime2](7) NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matriculas]    Script Date: 01/09/2025 12:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matriculas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlunoId] [int] NOT NULL,
	[TurmaId] [int] NOT NULL,
	[DataMatricula] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turmas]    Script Date: 01/09/2025 12:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turmas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[DataAlteracao] [datetime2](7) NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/09/2025 12:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Senha] [nvarchar](255) NOT NULL,
	[Perfil] [int] NOT NULL,
	[Nome] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alunos] ON 

INSERT [dbo].[Alunos] ([Id], [Nome], [DataNascimento], [CPF], [Email], [Senha], [DataCriacao], [DataAlteracao], [Ativo]) VALUES (6, N'Joana', CAST(N'2005-08-05' AS Date), N'81687543011', N'joana@msg.com', N'zQwfWWi56q8wIlIbOaXuGw==.rTE3mF8SgizDZRVif1eJypJeMBkAvRAaWvcEbaUqU+g=', CAST(N'2025-09-01T01:29:22.2629406' AS DateTime2), NULL, 1)
INSERT [dbo].[Alunos] ([Id], [Nome], [DataNascimento], [CPF], [Email], [Senha], [DataCriacao], [DataAlteracao], [Ativo]) VALUES (7, N'paulo', CAST(N'2000-06-04' AS Date), N'31989914047', N'paulo@msg.com', N'xcbGhPBi95qhhqF9Fi2G0w==.a3c4mHT3q9WQChXvORGmi7b1ofWGjnJ2IQDvswgV+rc=', CAST(N'2025-09-01T01:32:07.8166239' AS DateTime2), NULL, 1)
INSERT [dbo].[Alunos] ([Id], [Nome], [DataNascimento], [CPF], [Email], [Senha], [DataCriacao], [DataAlteracao], [Ativo]) VALUES (8, N'Carlos Silva', CAST(N'1990-03-15' AS Date), N'52998224725', N'carlos.silva@msg.com', N'V/1sm5B0KszSlL3bNI9eOg==.zSx+TFkWXJeNSZ+LKE8/XvojIB46TFniybfv2OlvPBQ=', CAST(N'2025-09-01T01:35:28.9976311' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[Alunos] OFF
GO
SET IDENTITY_INSERT [dbo].[Matriculas] ON 

INSERT [dbo].[Matriculas] ([Id], [AlunoId], [TurmaId], [DataMatricula]) VALUES (2, 6, 3, CAST(N'2025-09-01T01:50:09.3978306' AS DateTime2))
INSERT [dbo].[Matriculas] ([Id], [AlunoId], [TurmaId], [DataMatricula]) VALUES (3, 6, 4, CAST(N'2025-09-01T01:50:20.4553586' AS DateTime2))
INSERT [dbo].[Matriculas] ([Id], [AlunoId], [TurmaId], [DataMatricula]) VALUES (4, 7, 4, CAST(N'2025-09-01T01:50:29.9521960' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Matriculas] OFF
GO
SET IDENTITY_INSERT [dbo].[Turmas] ON 

INSERT [dbo].[Turmas] ([Id], [Nome], [Descricao], [DataCriacao], [DataAlteracao], [Ativo]) VALUES (3, N'Desenvolvimento Full Stack', N'Turma focada em ensinar as principais tecnologias front-end e back-end para formação de desenvolvedores completos.', CAST(N'2025-09-01T01:43:34.4646728' AS DateTime2), NULL, 1)
INSERT [dbo].[Turmas] ([Id], [Nome], [Descricao], [DataCriacao], [DataAlteracao], [Ativo]) VALUES (4, N'Data Science & Machine Learning', N'Turma especializada em análise de dados, estatística e implementação de modelos de machine learning com Python.', CAST(N'2025-09-01T01:45:08.5402478' AS DateTime2), NULL, 1)
INSERT [dbo].[Turmas] ([Id], [Nome], [Descricao], [DataCriacao], [DataAlteracao], [Ativo]) VALUES (5, N'Cloud Computing & DevOps', N'Turma dedicada à infraestrutura em nuvem, containers, orquestração e práticas de DevOps para desenvolvimento ágil.', CAST(N'2025-09-01T01:45:17.9309514' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[Turmas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Email], [Senha], [Perfil], [Nome]) VALUES (1, N'admin@fiap.com', N'jtW1auNjw7pHTjR+Jho2pA==.PnPqM80rehBkgbZIUd0RteX6q1+7mj81IfqlV1xOl2Y=', 1, N'Admin')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Alunos__A9D105344FA100B0]    Script Date: 01/09/2025 12:41:50 ******/
ALTER TABLE [dbo].[Alunos] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Alunos__C1F897319BE002BF]    Script Date: 01/09/2025 12:41:50 ******/
ALTER TABLE [dbo].[Alunos] ADD UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Matricul__9A3DC4BE5B5D8A2A]    Script Date: 01/09/2025 12:41:50 ******/
ALTER TABLE [dbo].[Matriculas] ADD UNIQUE NONCLUSTERED 
(
	[AlunoId] ASC,
	[TurmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D1053489B53235]    Script Date: 01/09/2025 12:41:50 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Matriculas] ADD  DEFAULT (getdate()) FOR [DataMatricula]
GO
ALTER TABLE [dbo].[Matriculas]  WITH CHECK ADD FOREIGN KEY([AlunoId])
REFERENCES [dbo].[Alunos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Matriculas]  WITH CHECK ADD FOREIGN KEY([TurmaId])
REFERENCES [dbo].[Turmas] ([Id])
ON DELETE CASCADE
GO
